body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  text-align: center;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

section {
  padding: 30px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

#about img {
  width: 200px;
  border-radius: 100%;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #ddd;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

.project {
  background: #eee;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
  background: #1f599b;
  padding: 10px 15px;
  border-radius: 5px;
}

footer {
  background: #222;
  color: white;
  padding: 10px;
}
